:root {
  --main-color: #4A5568;
  --blue-color: #4C6FFF;
}

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  background: #F7FAFC;
  font-family: 'Jost', sans-serif;
  color: var(--main-color);
}

.container {
  width: 90%;
  margin: auto;
  position: relative;
}

@media (min-width:576px){
  .container{
    max-width:540px;
  }
}
@media (min-width:768px){
  .container{
    max-width:720px;
  }
}
@media (min-width:992px){
  .container{
    max-width:960px;
  }
}
@media (min-width:1200px){
  .container{
    max-width:1140px;
  }
}
input, select, textarea, button {
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  height: 40px;
}
input, select {
  width: 100%;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-only {
  display: flex;
}
.close {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.main-title {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: #1A202C;
}
.main-btn {
  display: block;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 14px;
  transition: background .2s ease-in-out, color .2s ease-in-out;
  width: 100%;
  background: var(--blue-color);
  border-radius: 12px;
  color: #FFFFFF;
}
.default-btn {
  display: block;
  border: 0.5px solid rgba(26, 32, 44, 0.2);
  border-radius: 12px;
  background: #FFFFFF;
  width: 100%;
  color: #1A202C;
  transition: background .2s ease-in-out, color .2s ease-in-out;
}
a.default-btn, a.main-btn {
  /*line-height: 200%;*/
  text-align: center;
}
.main-btn:hover {
  background: #FFFFFF;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
.default-btn:hover {
  background: #1A202C;
  color: #FFFFFF;
}
.main-select {
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 12px;
  color: #718096;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 0 12px;
  width: auto;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.main-select:valid {
  background-color: #1A202C;
  color: #FFFFFF;
}
.main-input {
  padding: 0 0 0 40px;
  background: #EDF2F7;
  border-radius: 12px;
  width: 100%;
  margin: 8px 5px 20px;
  outline: none;
  font-size: 14px;
  border: 1px solid #EDF2F7;
}
.main-input:focus {
  background: #FFFFFF;
  border: 1px solid #4C6FFF;
}
.main-input::placeholder {
  font-size: 14px;
}

.avatar {
  margin: auto;
  border-radius: 50% 50%;
  background-size: cover;
  background-position: center center;
  background-color: #F2F2F2;
  display: block;
  background-repeat: no-repeat;
}
